<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- 检测联网方式，在网络异常状态下避免数据发送，节省流量和电量。 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取用户设备的IMEI，通过IMEI对用户进行唯一标识，以便提供统计分析服务。 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 获取WIFI mac地址，在平板设备或电视盒子上，无法通过IMEI标识设备，我们会将WIFI mac地址作为用户的唯一标识，以便正常提供统计分析服务。 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许应用程序联网和发送统计数据的权限，以便提供统计分析服务。 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--通过获取位置信息，为开发者提供反作弊功能，剔除作弊设备；同时校正用户的地域分布数据，使报表数据更加准确。（可选）-->
<!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <!--通过获取位置信息，为开发者提供反作弊功能，剔除作弊设备；同时校正用户的地域分布数据，使报表数据更加准确。（可选）-->
<!--    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->
</manifest>