<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.actor.qq_wechat">

    <application>

        <!-- 设置QQ头像等, 要加上, 否则getTencent()返回null -->
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- QQUtils, 在targetSdkVersion>=28时, 在Android 9.0的手机上进行QQ登录&分享(<=v3.3.7) 会报错... -->
        <!-- 写在 AndroidManifest.xml 的 <application>标签内, 和<activity 同级 -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />



        <!-- 微信登录等 -->
        <!-- https://developers.weixin.qq.com/doc/oplatform/Mobile_App/Access_Guide/Android.html -->
        <activity
            android:name="${applicationId}.wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity="${applicationId}"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 微信支付 -->
        <!-- https://pay.weixin.qq.com/wiki/doc/api/app/app.php?chapter=8_5 -->
        <activity
            android:name="${applicationId}.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.VIEW"/> -->
            <!-- <category android:name="android.intent.category.DEFAULT"/> -->
            <!-- <data android:scheme="wx8aee7894414e5f5a"/> -->
            <!-- </intent-filter> -->
        </activity>
    </application>
</manifest>