/build/cache
/build/generated
/build/intermediates
/build/outputs/apk/androidTest
/build/outputs/apk/debug/*.apk
/build/outputs/apk/release
/build/outputs/logs
/build/outputs/mapping
/build/outputs/sdk-dependencies
/build/reports
/build/tmp
/debug
/release