<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.actor.sample">

    <!-- 安装/更新App -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />


    <!--
    1.resizeableActivity: 支持分屏(<application 或 <activity 设置)
    2.usesCleartextTraffic: Android P(9.0)的默认所有Http的请求都被阻止, 并且这个属性的默认值从true改变为false
    -->
    <application
        android:name=".MyApplication"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.ViewPagerHeightAutoCaculateActivity" />
        <activity android:name=".activity.SocketTestActivity" />
        <activity android:name=".activity.WebViewActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SelectFileActivity" />
        <activity android:name=".activity.RatingBarActivity" />
        <activity android:name=".activity.JPushActivity" />
        <activity android:name=".activity.BaiDuMapActivity" />
        <activity android:name=".activity.GaoDeMapActivity" />
        <activity android:name=".activity.ThirdActivity" />
        <activity android:name=".activity.ViewPagerActivity" />
        <activity android:name=".activity.SharedElementActivity" />
        <activity android:name=".activity.QuickSearchBarActivity" />
        <activity android:name=".activity.OtherActivity" />
        <activity android:name=".activity.IsEmptyActivity" />
        <activity
            android:name=".activity.ChatActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name=".activity.ViewPagerAndFragmentActivity" />
        <activity android:name=".activity.NineGridViewActivity" />
        <activity android:name=".activity.CustomViewActivity" />
        <activity android:name=".activity.NetWorkAndImageActivity" />
        <activity android:name=".activity.BottomSheetDialogActivity" />
        <activity android:name=".activity.SwitcherActivity" />
        <activity
            android:name=".activity.MyBaseBottomActivity"
            android:theme="@style/BaseBottomActivity" />
        <activity android:name=".activity.DatabaseActivity" />

        <!-- 百度定位设置AK，在Application标签中加入 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="u5Xz2U2d6hSgaqEcDG2Z8MlQqNhVO1VX" /><!-- value:开发者申请的AK -->

        <!-- 高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="4dd161c2444279b04c5014f51912fcff"/>




        <!-- QQ登录 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- 这儿替换成: "tencent" + appid -->
                <data android:scheme="tencent101890804" />
            </intent-filter>
        </activity>



        <!-- 极光推送 -->
        <!-- https://docs.jiguang.cn//jpush/client/Android/android_guide/ -->
        <!-- Since JCore2.0.0 Required SDK核心功能 -->
        <!-- 可配置android:process参数将Service放在其他进程中；android:enabled属性不能是false -->
        <!-- 这个是自定义Service，要继承极光JCommonService，可以在更多手机平台上使得推送通道保持的更稳定 -->
        <service
            android:name="com.actor.myandroidframework.utils.jpush.PushService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>
        <!-- 极光推送 -->
        <!-- https://docs.jiguang.cn//jpush/client/Android/android_guide/ -->
        <!-- Required since 3.0.7 -->
        <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 3.3.0开始所有事件将通过该类回调 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageReceiver 类, 并如下新增一个 Intent-Filter -->
        <receiver
            android:name="com.actor.myandroidframework.utils.jpush.MyJPushMessageReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        <!-- 自定义Receiver, 接收被拉起回调 -->
        <receiver android:name="com.actor.myandroidframework.utils.jpush.MyWakedResultReceiver" />
    </application>
</manifest>