<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ly.sample">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.ThirdActivity" />
        <activity android:name=".activity.ViewPagerActivity" />
        <activity android:name=".activity.SharedElementActivity" />
        <activity android:name=".activity.QuickSearchBarActivity" />
        <activity android:name=".activity.CustomKeyboardViewActivity" />
        <activity android:name=".activity.OtherActivity" />
        <activity android:name=".activity.IsEmptyActivity" />
        <activity android:name=".activity.ViewPagerAndFragmentActivity" />
        <activity android:name=".activity.NineGridViewActivity" />
        <activity android:name=".activity.CustomViewActivity" />
        <activity android:name=".activity.NetWorkAndImageActivity" />
        <activity android:name=".activity.BottomSheetDialogActivity" />
        <activity android:name=".activity.SwitcherActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MyBaseBottomActivity"
            android:theme="@style/BaseBottomActivity" />
        <activity android:name=".activity.Export2ExcelActivity" />
        <activity android:name=".activity.DatabaseActivity" />

        <service android:name=".service.CheckUpdateService" />

        <!--以下2个activity是QQ登录-->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent222222" /><!--这儿替换成: "tencent" + appid-->
            </intent-filter>
        </activity>
        <!--设置QQ头像, ...-->
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!--微信登录-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:taskAffinity="${applicationId}" />
        <!--微信支付-->
        <!--android:exported=“true”，这个属性代表着运行被外界程序所启动这个Activity-->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.VIEW"/>-->
            <!--<category android:name="android.intent.category.DEFAULT"/>-->
            <!--<data android:scheme="wx8aee7894414e5f5a"/>-->
            <!--</intent-filter>-->
        </activity>
    </application>

</manifest>