<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.actor.sample">
    <!-- 安装/更新App -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".MyApplication"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:resizeableActivity="true"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activity.LineViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.PopupWindowTestActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AudioMediaActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BaseCountDownTimerActivity"
            android:exported="false" />
        <activity android:name=".activity.ViewPagerHeightAutoCaculateActivity" />
        <activity android:name=".activity.SocketTestActivity" />
        <activity android:name=".activity.WebViewActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SelectFileActivity" />
        <activity android:name=".activity.RatingBarActivity" />
        <activity android:name=".activity.JPushActivity" />
        <activity android:name=".activity.BaiDuMapActivity" />
        <activity android:name=".activity.GaoDeMapActivity" />
        <activity android:name=".activity.ThirdActivity" />
        <activity android:name=".activity.ViewPagerActivity" />
        <activity android:name=".activity.SharedElementActivity" />
        <activity android:name=".activity.QuickSearchBarActivity" />
        <activity android:name=".activity.OtherActivity" />
        <activity android:name=".activity.IsEmptyActivity" />
        <activity
            android:name=".activity.ChatActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name=".activity.ViewPagerAndFragmentActivity" />
        <activity android:name=".activity.NineGridViewActivity" />
        <activity android:name=".activity.CustomViewActivity" />
        <activity android:name=".activity.NetWorkAndImageActivity" />
        <activity android:name=".activity.BottomSheetDialogActivity" />
        <activity android:name=".activity.SwitcherActivity" />
        <activity
            android:name=".activity.MyBaseBottomActivity"
            android:theme="@style/BaseBottomActivity" />
        <activity android:name=".activity.DatabaseActivity" /> <!-- 百度定位设置AK，在Application标签中加入 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="u5Xz2U2d6hSgaqEcDG2Z8MlQqNhVO1VX" /> <!-- value:开发者申请的AK -->
        <!-- 高德地图 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="4dd161c2444279b04c5014f51912fcff" /> <!-- QQ登录 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- 这儿替换成: "tencent" + appid -->
                <data android:scheme="tencent101890804" />
            </intent-filter>
        </activity>
    </application>

</manifest>