<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.actor.myandroidframework">

    <!--网络请求-->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--网络状态变化-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--安装/更新App-->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!--Album的权限,拍照,图片选择,图片大图预览(包括网络图片)-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--sdcard中创建文件夹的权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许挂载和反挂载文件系统可移动存储-->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />


    <!--resizeableActivity: 支持分屏(<application 或 <activity 设置)-->
    <!--usesCleartextTraffic: Android P(9.0)的默认所有Http的请求都被阻止, 并且这个属性的默认值从true改变为false-->
    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:resizeableActivity="true"
        android:usesCleartextTraffic="true">

        <!--极光推送-->
        <!--https://docs.jiguang.cn//jpush/client/Android/android_guide/-->
        <!-- User defined. 用户自定义的广播接收器-->
        <!-- 这是3.3.0之前版本的接收方式，3.3.0开始是通过继承 JPushMessageReceiver并配置来接收所有事件回调。-->
        <!-- 如果仍然需要在这个Receiver里接收，需要在JPushMessageReceiver 的子类里不重写对应的回调方法，或者重写方法且调用super-->
<!--        <receiver-->
<!--            android:name=".utils.jpush.MyReceiver"-->
<!--            android:enabled="true"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                &lt;!&ndash;Required 用户注册 SDK 的 intent&ndash;&gt;-->
<!--                <action android:name="cn.jpush.android.intent.REGISTRATION" />-->
<!--                &lt;!&ndash;Required 用户接收 SDK 消息的 intent&ndash;&gt;-->
<!--                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />-->
<!--                &lt;!&ndash;Required 用户接收 SDK 通知栏信息的 intent&ndash;&gt;-->
<!--                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />-->
<!--                &lt;!&ndash;Required 用户打开自定义通知栏的 intent&ndash;&gt;-->
<!--                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />-->
<!--                &lt;!&ndash; 接收网络变化 连接/断开 since 1.6.3 &ndash;&gt;-->
<!--                <action android:name="cn.jpush.android.intent.CONNECTION" />-->
<!--                <category android:name="您应用的包名" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->
    </application>
</manifest>
